div {
    display: block;
  }
  
  body {
      background-color: #2e3441;
      color: #e5e9f0;
      font-family: Inconsolata;
  }
  
  #header {
      position: fixed;
      width: 100%;
  }
  
  #block-left {
      background:  #353c4b;
      z-index: -1;
      position: absolute;
      top: 10%;
      padding: 20px;
      overflow-y:hidden;
    }
  
  #block-right {
      background:  #353c4b;
      z-index: -1;
      position: absolute;
      top: 10%;
      right: .5%;
      padding: 20px;
  }
  
  #block-center {
      position: absolute;
      top: 500px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 650px;
      
  }
  
  #box-gauge {
      width: 650px;
      background:  #353c4b; 
      padding-bottom: 10px;
      margin-bottom: 10px;
  }
  
  
  #rocket-render-div {
      background:  #353c4b;
  }
  
  #box-map {
      width: 650px;
      background:  #353c4b; 
      margin: auto;
      padding-bottom: 10px;
  }
  
  #map {
      margin: auto;
      width: 600px; 
      height: 320px;
  }
  
  
  .chart {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
      display: table;
  }
  
  
  #altitude {
      position: absolute;
      z-index: 1;
      right: .5%;
      top: 2%;
      
  }
  
  .odometer.odometer-auto-theme, .odometer.odometer-theme-plaza {
      -moz-border-radius: 0.15em;
      -webkit-border-radius: 0.15em;
      -o-border-radius: 0.15em;
      -ms-border-radius: 0.15em;
      -khtml-border-radius: 0.15em;
      border-radius: 0.15em;
      background-color: #2e3441;
      font-family: Inconsolata;
      padding: 0 0.12em;
      line-height: 1.2em;
      font-size: 1.2em;
      background-size: 16px 16px;
      color: #e5e9f0;
    }
  
  /*Gauge shit*/
    #altimeter {
        position: absolute;
        top: 50px;
        right: 120px;
    }
  
  
      #gauge_accelx{
          padding: 0px;
          float: left;
          margin-left: 30px;
      }
      #gauge_accely{
          padding: 0px;
          margin-right: 30px;
          float: right;
      }
      #gauge_accelz{
          padding: 0px;
          margin: auto;
      }
  
  
    #gauge_accelx .epoch .gauge .arc.outer {
        stroke-width: 3px;
        stroke: #e5e9f0;
    }
    #gauge_accelx .epoch .gauge .arc.inner {
        stroke-width: 1px;
        stroke: #e5e9f0;
    }
    #gauge_accelx .epoch .gauge .tick {
        stroke-width: 1px;
        stroke: #e5e9f0;
    }
    #gauge_accelx .epoch .gauge .needle {
        fill: #c16069;
    }
    #gauge_accelx .epoch .gauge .needle-base {
        fill: #c16069;
    }
  
    
  #gauge_accely .epoch .gauge .arc.outer {
      stroke-width: 3px;
      stroke: #e5e9f0;
  }
  #gauge_accely .epoch .gauge .arc.inner {
      stroke-width: 1px;
      stroke: #e5e9f0;
  }
  #gauge_accely .epoch .gauge .tick {
      stroke-width: 1px;
      stroke: #e5e9f0;
  }
  #gauge_accely .epoch .gauge .needle {
      fill: #c16069;
  }
  #gauge_accely .epoch .gauge .needle-base {
      fill: #c16069;
  }
  
  
  
  
  #gauge_accelz .epoch .gauge .arc.outer {
      stroke-width: 3px;
      stroke: #e5e9f0;
  }
  #gauge_accelz .epoch .gauge .arc.inner {
      stroke-width: 1px;
      stroke: #e5e9f0;
  }
  #gauge_accelz .epoch .gauge .tick {
      stroke-width: 1px;
      stroke: #e5e9f0;
  }
  #gauge_accelz .epoch .gauge .needle {
      fill: #c16069;
  
  }
  #gauge_accelz .epoch .gauge .needle-base {
      fill: #c16069;
  }
  div {
  display: block;
}

html, body {
    height: 100%;
  }

body {
    background-color: #2e3441;
    color: #e5e9f0;
    font-family: Inconsolata;
    overflow-y:hidden;
  }

#board_render{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


#chart {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    display: table;
}

#logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20%;
  }
#mapid {
    margin-top: 10%;
    background-color: #353c4b;
}

#charts {
    background:  #353c4b;
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}


#altimeter {
    position: absolute;
    top: 50px;
    right: 120px;
}
#gaugeChart{
    position: absolute;
    bottom: 550px;
    right: 20px;
    padding: 0px;
    background-color: #353c4b;
}
#gaugeChart .epoch .gauge .arc.outer {
    stroke-width: 8px;
    stroke: #e5e9f0;
}
#gaugeChart .epoch .gauge .arc.inner {
    stroke-width: 2px;
    stroke: #e5e9f0;
}
#gaugeChart .epoch .gauge .tick {
    stroke-width: 3px;
    stroke: #e5e9f0;
}
#gaugeChart .epoch .gauge .needle {
    fill: #86c0d1;
}
#gaugeChart .epoch .gauge .needle-base {
    fill: #86c0d1;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row-filled {
  height:20%;
  overflow: hidden;
}

//color does not work fix please

#guageChart .epoch .gauge{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 12pt;
    color: #e5e9f0;
}


div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 10px;
  pointer-events: none;
}


div{
    display: block;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #navball {
    position: fixed;
    bottom: -10vh;
    margin:0;
    padding:0;
  }

}
#gauge_accelz .epoch .gauge .needle-base {
    fill: #c16069;
}
    
  #indicator {
  	position: absolute;
  	width: 40px;
  	top: 130px;
  	left: 130px;
  }
